.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.logo {
	width: 161upx;
	height: 161upx;
	background: rgba(63, 205, 235, 1);
	box-shadow: 0upx 12upx 13upx 0upx rgba(63, 205, 235, 0.47);
	border-radius: 50%;
	margin-top: 30upx;
	margin-left: auto;
	margin-right: auto;
}

.logo image {
	width: 161upx;
	height: 161upx;
	border-radius: 50%;
}

.from {
	display: flex;
	flex-direction: column;
	padding-top: 50upx;
	padding-left: 70upx;
	padding-right: 70upx;
}

.input-controls {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100upx;
	color: #333333;
	border-bottom: 1upx solid rgba(230, 230, 230, 1);
}

.input-controls .img {
	width: 60upx;
	height: 60upx;
}

.input-controls .input {
	flex: 1;
	text-align: left;
	font-size: 32upx;
	line-height: 100upx;
	margin-left: 16upx;
}

.btn {
	color: #FFFFFF;
	font-size: 34upx;
	width: 470upx;
	height: 100upx;
	background: linear-gradient(-90deg, rgba(63, 205, 235, 1), rgba(188, 226, 158, 1));
	box-shadow: 0upx 0upx 13upx 0upx rgba(164, 217, 228, 0.2);
	border-radius: 50upx;
	line-height: 100upx;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 180upx;
}

.btn-hover {
	background: linear-gradient(-90deg, rgba(63, 205, 235, 0.9), rgba(188, 226, 158, 0.9));
}

.txt {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 30upx;
	margin-top: 50upx;
	color: #FFA800;
	text-align: center;
	height: 40upx;
	line-height: 40upx;
}

.txt text {
	font-size: 24upx;
	margin-left: 15upx;
	margin-right: 15upx;
}

.txt image {
	width: 40upx;
	height: 40upx;
}

.yzm {
	color: #FF7D13;
	font-size: 24upx;
	line-height: 64upx;
	padding-left: 10upx;
	padding-right: 10upx;
	width: auto;
	height: 64upx;
	border: 1upx solid #FFA800;
	border-radius: 50upx;
}

.yzms {
	color: #999999 !important;
	border: 1upx solid #999999;
}

.msg {
	color: #999999;
	font-size: 28upx;
	line-height: 50upx;
	margin-bottom: 50upx;
}